{% extends 'partials/base.html.twig' %}

{% block content %}
	
	<div class="page_block">
		<div class="page_menu">
			{% include('/partials/page_header_logo.html.twig') with {'black': true} %}
		</div>
		<div class="page_site_content">
            <div class="block_content">
			    {% include('/partials/page_header_menu.html.twig') with {'black': true} %}
			
				{{ content|raw }}

                {% include('/partials/mailcontent.html.twig') with {'black': true} %}

                {% include "forms/data.html.twig" %}
			</div>
		</div>
	</div>
	

{% endblock %}
