

{% block content %}
	
	<div class="alert">{{ form.message|e }}</div>
					{{'JOBTECH.CONTENT.REGISTER_WELC'|t}}<br><br>
					{{'JOBTECH.CONTENT.REGISTER_JITSI'|t}}<br><br>
       				{{'JOBTECH.CONTENT.REGISTER_INFO'|t}}


	

{% endblock %}
